/*
Theme Name: Virtue Child
Description: Child theme for Virtue
Author: Leonard Gonzales
Template: virtue
*/
.row {
    margin: 0 -10px;
}

/*
 *    Top Header
 */

.top-header-block {
    background: #222b31;
    padding: 6px 0;
}
.top-header-block .top-col01,
.top-header-block .top-col03 {
    float: left;
    width: 30%;
}
.top-header-block .top-col02 {
    float: left;
    width: 40%;
}
.top-header-block .top-widget,
.top-header-block .widget {
    margin: 0;
}

/*
 *    Header
 */

.header-block {
    padding: 5px 0;
    background: rgba(39, 158, 214, 1);
    background: -moz-linear-gradient(top, rgba(39, 158, 214, 1) 0%, rgba(13, 122, 185, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39, 158, 214, 1)), color-stop(100%, rgba(13, 122, 185, 1)));
    background: -webkit-linear-gradient(top, rgba(39, 158, 214, 1) 0%, rgba(13, 122, 185, 1) 100%);
    background: -o-linear-gradient(top, rgba(39, 158, 214, 1) 0%, rgba(13, 122, 185, 1) 100%);
    background: -ms-linear-gradient(top, rgba(39, 158, 214, 1) 0%, rgba(13, 122, 185, 1) 100%);
    background: linear-gradient(to bottom, rgba(39, 158, 214, 1) 0%, rgba(13, 122, 185, 1) 100%);
}
.header-block .logo {
    width: 17%;
    float: left;
    padding: 0 3% 0 0;
}
.header-block .logo a {
    color: #FFF;
}
.header-block .global-nav {
    float: right;
    width: 80%;
}

/*
 *    Main Navigation.
 */


/*
 *    Footer
 */

.footer-block {
    background: #222b31;
}
.footer-block .footercol1, .footer-block .footercol2, .footer-block .footercol3, .footer-block .footercol4 {
    float: left;
}
.footer-block .footercol1 {
    width: 17%;
}
.footer-block .footercol2, .footer-block .footercol3, .footer-block .footercol4 {
    width: 27.66%;
}
.footer-block .widget, .footer-block .footer-widget {
    margin: 0;
    padding: 0 20px 0 0;
}
#containerfooter .menu li {
    margin: 0 0 6px;
}
#containerfooter .menu li a {
    background: none;
    color: #FFF;
    display: inline;
}
#containerfooter .menu li a:hover {
    color: #FFF;
    background: none;
}
.products div.product {
    border-color: #d2d2d2;
}
