h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Roboto Condensed", $font__main;
}
.title01 {
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 6px;
	padding-left: 12px;
	border-bottom: 1px solid #9aa6b6;
	color: #7d8ca3;
	font-size: 18px;
	text-transform: uppercase;
	&:after {
	    position: absolute;
	    content: "";
	    display: block;
	    bottom: -1px;
	    left: 0;
	    width: 80px;
	    height: 3px;
	    background: #2aabe2;
	}
}
