.home {
    .content {
        padding: 20px 0 60px;
    }
    .special-banner {
        margin-bottom: 20px;
        .container {
            img {
                width: 100%;
            }
        }
    }
    .product_display {
        padding: 20px 0 0;
        border-top: 1px solid #e7e7e7;
        background: #f6f6f6;
    }
}
