@import "top";
.header {
    .main {
        background: rgba(39,168,225,1);
        background: -moz-linear-gradient(top, rgba(39,168,225,1) 0%, rgba(11,139,204,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,168,225,1)), color-stop(100%, rgba(11,139,204,1)));
        background: -webkit-linear-gradient(top, rgba(39,168,225,1) 0%, rgba(11,139,204,1) 100%);
        background: -o-linear-gradient(top, rgba(39,168,225,1) 0%, rgba(11,139,204,1) 100%);
        background: -ms-linear-gradient(top, rgba(39,168,225,1) 0%, rgba(11,139,204,1) 100%);
        background: linear-gradient(to bottom, rgba(39,168,225,1) 0%, rgba(11,139,204,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a8e1', endColorstr='#0b8bcc', GradientType=0 );
        border-top: 1px solid #4be2fd;
        border-bottom: 1px solid #4be2fd;
        .container {
            position: relative;
        }
        .logo {
            float: left;
            width: 20%;
            @media(max-width: 768px) {
                margin-left: 10px;
            }
            a {
                color: $white;
                line-height: 50px;
            }
        }
        .mobile-btn {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            width: 40px;
            border-left: 1px solid $white;
            color: $white;
            font-size: 20px;
            line-height: 44px;
            text-align: center;
            @media(max-width: 768px) {
                display: block;
            }
        }
    }
}
